<div class="container mt-3">
  <h2 class="my-3 text-center text-secondary">My Reservations</h2>
  <div *ngFor="let reservation of reservations" class="media border p-3 mt-3">
    <img src="{{reservation.accommodation.imageUri}}" alt="John Doe" class="mr-3 mt-3  rounded-circle" style="width:200px;">
    <div class="media-body">
      <p><strong>Location: {{reservation.accommodation.address}}</strong></p>
      <p><strong>From: {{reservation.from | date : "dd.MM.yyyy"}}</strong></p>
      <p><strong>To: {{reservation.to | date : "dd.MM.yyyy"}}</strong></p>
      <p><strong>Agent: {{reservation.accommodation.agent.name}}</strong></p>
      <app-new-message></app-new-message>
      <a class="btn btn-warning ml-3" (click)="cancelReservation(reservation.id)">Cancel Reservation</a>
      <p>{{reservation | json}}</p>
    </div>
  </div>
</div>